extends layout

block content
  canvas#altitude(width=200, height=600)
  canvas#attitude(width=600, height=600)

  script(src="javascripts/theme.js" type="text/javascript")
  script(src="javascripts/graphicsManager.js" type="text/javascript")
  script(src="javascripts/lineRenderer.js" type="text/javascript")
  script(src="javascripts/borderedTextRenderer.js" type="text/javascript")
  script(src="javascripts/altitude.js" type="text/javascript")
  script(src="javascripts/attitude.js" type="text/javascript")
